body {
  background: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  color: white;
  text-shadow: -0.2rem 0.1rem 0.6rem black;
  font-family: Arial, Helvetica, sans-serif
}

input[type="number"], input[type="text"] {
  background: rgba(0, 0, 0, 0.9);
  border: 0.2rem solid silver;
  margin: 0.5rem;
}

input[type="number"] {
  width: 5rem;
}

input[type="checkbox"] {
  transform: scale(1.25);
  margin: 1rem;
}

button {
  transition: 100ms;
  background: rgb(20, 20, 20);
  border: 0.5rem solid rgb(40, 40, 40);
  margin-right: 0.5rem;
  box-shadow: 0 0 1rem 0.25rem black;
  img {
    width: 100%;
    height: 100%;
  }

}

button.button-basic {
  padding: 0.5rem;
  font-size: 1.5rem;
}

button:hover {
  border: 0.5rem solid silver;
  box-shadow: 0 0 1rem 0.25rem silver;
}

button.tool-btn {
  width: 5rem;
}

:root {
  font-size: 62.5%;
}

.tools {
  display: flex;
}

.bitmap {
  border: 4px solid rgb(20, 20, 20);
  margin: 0;
  padding: 0;
  box-shadow: 0 1rem 2rem 0.25rem black;
}

.tooltip-box {
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
  border: solid 0.25rem silver;
  font-size: 1.5rem;
  display: none;

  pre {
    margin: 0;
  }
}

.info {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.35);
  padding: 0.4rem;
  margin-left: 3rem;
}

.pop-up-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 60rem;
  max-height: 70vh;
  background: black;
  border: 0.5rem solid silver;
  box-sizing: border-box;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  img {
    max-width: 12rem;
  }

  p {
    max-height: 80%;
    overflow: hidden;
    overflow-y: auto;
  }

  .drag {
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1.2rem 0.4rem rgb(25, 25, 25, 0.7);
    cursor: move;
  }

  .content {
    position: relative;
    left: 0;
    box-sizing: border-box;
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    top: 3rem;
    width: 80%;

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: black;
        border: 0.2rem solid silver;
        font-size: 2rem;
        color: white;
        padding: 0rem 1rem;

        &:hover {
          filter: brightness(1.5);
        }
      }
    }

    h2 {
      margin: 0;
    }
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  background: darkred;
  user-select: none;
  font-size: 2rem;
  padding: 0rem 0.8rem;
  box-sizing: border-box;
  border: 0.1rem solid silver;

  &:hover {
    filter: brightness(1.5);
  }
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .map-tools {
    width: 5rem;
    height: 20rem;
    background: black;
    border: 0.4rem solid rgb(20, 20, 20);
    box-shadow: 0 0.3rem 1rem 0.4rem black;

    .paint-tool {
      width: 100%;
      border: 0.2rem solid rgb(40, 40, 40);
      margin: 0.3rem 0rem;

      &.selected {
        border: 0.2rem solid lightblue;
        background: rgb(45, 45, 45);
      }
    }
  }
}

.saved-images {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  h1 {
    white-space: nowrap;
    background: rgb(10, 10, 10, 0.5);
    padding: 1rem;
  }
  .save-container {
    display: flex;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgb(10, 10, 10, 0.8);
    user-select: none;

    &:hover {
      background: rgb(60, 60, 60, 0.8);
    }
  }
}